{
    "name": "Iron Shop",
    "lang": "en-us",
    "short_name": "Iron Shop",
    "description": "Shoppable services",
    "start_url": "https://{{Host}}",
    "scope": "/",
    "display": "standalone",
    "theme_color": "black",
    "background_color": "black",
    "orientation": "any",
    "icons": [
        {
            "src": "/logo_no_txt.png",
            "sizes": "512x512",
            "type": "image/png"
        },
        {
            "src": "/logo_no_txt.png",
            "sizes": "512x512",
            "type": "image/png",
            "purpose": "any maskable"
        }
    ]
}