.cm-editor {
    height: 100%;
    width: 100%;
    color: white;
  }
.cm-gutter {
  color: white;
  background-color: black;
}
.cm-linenumbers {
  color: white;
}
.ͼ2 .cm-activeLineGutter {
  background-color: #333;
}