.th-drag-handle {
    cursor: move;
  }
  
  .th-drag-handle::before {
    content: '\2195';
    display: inline-block;
    margin-right: 5px;
    user-select: none;
  }
  
  .th-drag-handle:hover {
    color: #aaa;
  }

  .th-resize-handle {
    position: relative;
    cursor: ew-resize;
    user-select: none;
  }
  
  .th-resize-handle::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -5px;
    width: 10px;
    background-color: #ccc;
  }
  
  .th-resize-handle:hover::after {
    background-color: #aaa;
  }